[loggers]
keys=root, customLogger

[handlers]
keys=consoleHandler, customFileHandler

[formatters]
keys=standardFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_customLogger]
level=DEBUG
handlers=customFileHandler
qualname=customLogger
propagate=0

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=standardFormatter
args=(sys.stdout,)

[handler_customFileHandler]
class=logging_setup.CustomFileHandler
level=DEBUG
formatter=standardFormatter
args=('mailcheck.log',)

[formatter_standardFormatter]
format=%(asctime)s - %(levelname)s: %(message)s